.calorieCount {
    background-color: #FBEAEA;
}

.proteinCount {
    background-color: #E9F4FB;
}

.lipidCount {
    background-color: #FBF6E5;
}

.carbohydrateCount {
    background-color: #FBEAEF;
}