.dashboard {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: grey;

  &__user {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: yellow;
  }

  &__activity {
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 100%;
    background-color: pink;

    &__graph {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 80%;
      background-color: red;

      &__chart {
        height: 60%;
        width: 100%;
        background-color: purple;
      }

      &__stats {
        display: flex;
        justify-content: space-between;
        height: 40%;
        width: 100%;
        background-color: blue;

        &--card {
          height: 100%;
          width: 30%;
          background-color: orange;
        }
      }
    }

    &__stats {
      height: 100%;
      width: 20%;
      background-color: green;

	  &--card {
		height: 25%;
		width: 100%;
		background-color: blue;
	  }
    }
  }
}
